<main id="root">
  <h1>Home</h1>

  <section>
    <% if logged_in? %>
      <%= link_to "Your Orders", user_orders_url(user_id: current_user.id) %>
    <% end %>
  </section>

  <section>
    <a href="items"><<h2>Available Items</h2></a>
  </section>
</main>
