<h1><%= current_user.first_name %>'s Orders</h1>

<section>
  <% if current_user.orders %>
  <ul>
    <% current_user.orders.each do |order| %>
    <li><%= link_to "Order #{order.id}", user_order_url(current_user, order)%></li>
  </ul>
  <% end %>
  <% else %>
  <p>You don't have any orders yet!</p>
  <% end %>
</section>
<section>
  <%= button_to "Create New Order", user_orders_url(current_user), method: :post %>
</section>
