<h1><%= current_user.first_name %>'s Orders'</h1>

<section>
  <% if current_user.orders %>
  <ul>
    <% current_user.orders.each do |order| %>
    <li>
      <%= order.id %>
    </li>
  </ul>
  <% end %>
  <% else %>
  <p>
    You don't have any orders yet!
  </p>
  <% end %>
</section>
<section>
  <%= button_to "Create New Order" "users/#{current_user.id}/orders/new", method: :get %>
</section>
