<h1>Sign Up</h1>
<form action="<%=api_users_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>" />
  <label>First Name
    <input type="text" name="user[first_name]" value="" autofocus=true required />
  </label>
  <br />
  <label>Email Address
    <input type="email" name="user[email_address]" value="" required />
  </label>
  <br />
  <label>Password
    <input type="password" name="user[password]" value="" required />
  </label>
  <br />
  <input type="submit" name="" value="Sign Up">
</form>
