<h1>All Available Items</h1>
<section>
  <ul>
   <% @items.each do |item| %>
    <a href="<%=item_url(item)  %>"><li>
      <span><%=item.name%></span>
      <span><%=item.price_cents / 100.00%></span><span> <%= item.price_currency %></span>
    </li></a>
   <% end %>
  </ul>
</section>
